3d/esp32-doit-v1.FCStd1
3d/jsn-sr04t.FCStd1
3d/or45-5_39-5.FCStd1
3d/shell_a_lid.FCStd1
3d/shell_a.FCStd1
3d/tube.FCStd1
3d/wdm_assy.FCStd1
3d/old/dht11.FCStd1
3d/old/esp32-doit-v1.FCStd1
3d/old/jsn-sr04t.FCStd1
3d/old/shell_a_lid.FCStd1
3d/old/tft_module.FCStd1
3d/old/wdm_assy.FCStd1
3d/old/wls_assy.FCStd1
3d/tft_module.FCStd1
esp8266/waterdepth1/partitions.csv
esp8266/waterdepthmeter2/partitions.csv
esp32/waterdepth1/partitions.csv
esp32/waterdepthmeter2/partitions.csv
